<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">


        <!-- build:css({app,.tmp}) /assets/css/desktop.css -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/desktop.css" media="screen and (min-width: 1024px)">
        <link rel="stylesheet" href="/assets/css/arrow-navigation.css">        
        <!-- endbuild -->




    </head>
    <body>

    <div class="svg-wrap">

      <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-left-2" d="M26.667 10.667q1.104 0 1.885 0.781t0.781 1.885q0 1.125-0.792 1.896l-14.104 14.104h41.563q1.104 0 1.885 0.781t0.781 1.885-0.781 1.885-1.885 0.781h-41.563l14.104 14.104q0.792 0.771 0.792 1.896 0 1.104-0.781 1.885t-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.813-0.771-1.896t0.771-1.896l18.667-18.667q0.792-0.771 1.896-0.771z" />
      </svg>
      <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-right-2" d="M37.333 10.667q1.125 0 1.896 0.771l18.667 18.667q0.771 0.771 0.771 1.896t-0.771 1.896l-18.667 18.667q-0.771 0.771-1.896 0.771-1.146 0-1.906-0.76t-0.76-1.906q0-1.125 0.771-1.896l14.125-14.104h-41.563q-1.104 0-1.885-0.781t-0.781-1.885 0.781-1.885 1.885-0.781h41.563l-14.125-14.104q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76z" />
      </svg>

      </div>

        <header class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </header>

<main class="wrap">
  <article class="content">
    <header>
      <h1>{{ page.title }}</h1>
      <p>{{ page.lead }}</p>
    </header>
    {{ content }}
    <footer>
    </footer>

{% include nav-post-next-prev.html %}

  </article>
  <aside class="sidebar"><h2>Sidebar</h2></aside>
</main>


          

          <footer class="footer">
              <p>
                JAN<br />
                <a href="mailto:o@o">o@o</a>
              </p>
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
</footer>

    <!-- build:js(app) /assets/js/scripts.js -->
    <script src="/assets/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
